/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2015, 1:51:25 PM
    Author     : Shaun
*/

/* Animations */
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

form.form-fade {
    opacity: 0.2;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    min-height: 480px;    
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}

.overlay > .container {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.overlay .content {
    display: table-cell;
    vertical-align: middle;
}

.overlay .content i {
    font-size: 8em;
}

.overlay .content p {
    font-size: 2em;
}

.content .success {
    -webkit-animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
    animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
}

input.error,
textarea.error {
    background: rgba(255,0,0,0.2);
}

.form-errors {
    background: #D50000;
    color: white;
    font-size: 1.2em;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-errors > p {
    margin: 0;
}
